# =========================
# Ignore EVERYTHING
# =========================
*

# =========================
# Allow required files/folders
# =========================

# Allow README
!README.md

# Allow Frontend folder
!Frontend/
!Frontend/**

# =========================
# Allow .gitignore itself
# =========================
!.gitignore